.fc-container{
  height: 100vh;
}

.fc-header-row{
  background-color: #2C3E50;
}

.box-header{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
}
