.fc-container{
  height: 100vh;
  color: white;
}

.fc-header-row{
  background-color: #2C3E50;
}

.box-header{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
}

.fc-jumbotron{
  background-color: #1ABC9C;
  height: 400px;
}

.fc-container-img{
  height: 200px;
}

.star-text{
  margin-top: 20px;
  height: 100px;
}

.container-portfolio-img{
  margin-top: 20px;
}

.box-portfolio{ 
height: 200px;
/* background-color:chartreuse; */
/* margin: 15px; */
}

.box-portfolio img{
  width: 100%;
}

.fc-about{
  background-color: #1ABC9C;
}

.text-about{
  margin-top: 10px;
  text-align: left;
}

.fc-download-btn{
  margin-top: 10px;
  text-align: center;
}

.fc-send-btn{
  margin-top: 60px;
}

.footer-top{
  margin-top: 40px;
  padding: 20px;
  background-color: #3A546D;
}

.footer-bottom{
  background-color: #2C3E50;
  padding: 12px;
}

