.body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sc-bg-blue{
  background-color: #2C3D50;
}

.fc-white{
  color: white;
}

.fc-black{
  color: black;
}

.box-header{
  display: flex;
  align-items: center;
  height: 80px;
  color: white;
  font-weight: bold;
}

.logo-text h2{
  font-size: 20px;
  font-weight: 600;
}

.fc-menu span{
  font-size: 15px;
  margin-left: 20px;
}

.fc-pad-50{
  padding: 50px 0;
}

.fc-jumbotron{
  margin-top: 80px;
  background-color: #1ABC9C;
}

.fc-container-400{
  width: 400px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fc-star-line{
  width: 400px;
  max-width: 80%;
  margin: 30px auto;
  height: 2px;
  background-color: white;
}

.fc-container-400 h3{
  font-size: 17px;
}

.star-text{
  margin-top: 20px;
  height: 100px;
}

.container-portfolio-img{
  margin-top: 20px;
}

.col-md-6 img{
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.fc-about{
  background-color: #1ABC9C;
}

.fc-container-50{
  width: 50%;
  margin: 0 auto;
}

.text-about{
  margin-top: 10px;
  text-align: left;
}

.custom-btn-download{
  border: 1px solid white;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}

.fc-contact-me{
  color: black;
}

.fc-send-btn{
  margin-top: 60px;
}

.footer-top{
  margin-top: 40px;
  padding: 20px;
  background-color: #3A546D;
}

.footer-bottom{
  background-color: #2C3E50;
  margin-right: 0;
  margin-left: 0;
}



